style.
  .questiontitle{
  text-align:center;
  background-color:#eeccff;
  padding:1px;
  margin-left:150px;
  margin-right:150px;
  }

  .question{
  border-top-style:solid;
  border-bottom-style:solid;
  border-color:#c2c2a3;
  border-width:0.5px;
  margin-left:50px;
  margin-right:50px;
  }

  .availableanswers{
  border-bottom-style:solid;
  border-color:#c2c2a3;
  border-width:0.5px;
  margin-left:50px;
  margin-right:50px;
  }
  textarea:focus {
  border-width:3px;
  border-color:#ff4d4d;
  outline:none;
  }
  .postyouranswerbutton{
  text-align:center;
  }


include header

form(method='POST' action="/questionforum/question_info/postanswer/" + data3)

  div.questiontitle
    h1(style="overflow-x:auto;overflow-y:auto;word-wrap: break-word;")=title
    p(style="text-align:right;") Asked By: #{String(data1[0]["username"])}
    div.question
      p(style="text-align:left;padding:0px 25px; overflow-x:auto; overflow-y:auto;word-wrap: break-word;") #{String(data1[0]["question"])}
    
    br
    br

    -if(data2.length !== 0)
      -if(data2.length === 1)
        h2(style="text-align:left; border-bottom-style:solid; border-color:#c2c2a3; border-width:0.5px; margin-left:50px; margin-right:50px;") 1 Answer
      -else
        h2(style="text-align:left; border-bottom-style:solid; border-color:#c2c2a3; border-width:0.5px; margin-left:50px; margin-right:50px;") #{data2.length} Answers
      -for(var i = data2.length-1; i >= 0; i--)
        div.availableanswers
          p(style="text-align:left; padding:0px 10px;word-wrap: break-word;") #{data2[i]["answer"]}
          p(style="text-align:right;") -- #{data2[i]["username"]}   
    -else
      p Be the first to answer this question
    h3(style="text-align:left;margin-left:50px; margin-right:50px;") Your Answer :
      
    div.answerbodyinput
      textarea(type="text" id="answerbody" name="answerbody" style="height: 150px" rows="1" cols="100" autocomplete="off",required) #{PostAnswer}
         
    br
  div.postyouranswerbutton
    input(type='submit',name="answerbodysubmit",value='Post Your Answer',id="answerbodysubmit" style="background-color:#c3c388; font-size:17px; border-radius:10px; border:none; cursor:pointer;padding:10px 5px;" onmouseover="this.style.backgroundColor='#aaaa55'" onmouseout="this.style.backgroundColor='#c3c388';")

  br